[Unit]
Description=Server Information Service
After=network.target

[Service]
ExecStart=/opt/MegaDLP/megaDLPService
Restart=always

[Install]
WantedBy=multi-user.target